@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300); html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(images/galaxy.png);
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    background-color: #08090A;
}

div {
    display: block;
    unicode-bidi: isolate;
}

#universe {
    background-image: url(images/univers.png);
    z-index: 1;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

#galaxy {
    position: relative;
    width: 100%;
    height: 100%;
}

#sun {
    background-image: url(images/Sun.png); /* Utilisez une image de texture réaliste */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15em; /* Ajustez la taille pour un effet réaliste */
    height: 15em;
    margin-top: -7.5em; /* Centre parfaitement */
    margin-left: -7.5em; /* Centre parfaitement */
    border-radius: 50%; /* Forme sphérique */
    background-color: #FB7209;
    background-repeat: no-repeat;
    background-size: cover;

    /* Effet lumineux */
    box-shadow: 
        0 0 100px rgba(255, 204, 102, 0.8), 
        0 0 200px rgba(255, 140, 0, 0.5), 
        0 0 300px rgba(255, 69, 0, 0.3);

    /* Animation de pulsation */
    animation: pulsate 4s infinite ease-in-out;
}

/* Animation pour donner un effet vivant */
@keyframes pulsate {
    0% {
        box-shadow: 
            0 0 80px rgba(255, 204, 102, 0.7), 
            0 0 150px rgba(255, 140, 0, 0.4), 
            0 0 200px rgba(255, 69, 0, 0.2);
        transform: scale(1);
    }
    50% {
        box-shadow: 
            0 0 120px rgba(255, 204, 102, 1), 
            0 0 250px rgba(255, 140, 0, 0.7), 
            0 0 350px rgba(255, 69, 0, 0.5);
        transform: scale(1.05);
    }
    100% {
        box-shadow: 
            0 0 80px rgba(255, 204, 102, 0.7), 
            0 0 150px rgba(255, 140, 0, 0.4), 
            0 0 200px rgba(255, 69, 0, 0.2);
        transform: scale(1);
    }
}


